root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[{Makefile,Makefile.*,*.mak}]
indent_style = tab
trim_trailing_whitespace = false

[{*.patch,*.patch.*}]
trim_trailing_whitespace = false

[*.md]
trim_trailing_whitespace = false

