*.aux
*.idx
*.lof
*.log
*.lot
*.pdf
*.toc
*.fls
*.ilg
*.ind
*.bbl
*.brf
*.dvi
*.fdb_latexmk
*.synctex.*
*.kilepr
out
*.acn
*.acr
*.alg
*.blg
*.glg
*.glo
*.gls
*.slg
*.sls
*.xdy
mono.txss
*.tdo
*.run.xml
